<footer id="colophon" class="footer_section">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="footer_par">
					{% if page.footer_first %}
						{{ page. footer_first }}
					{% else %}	
					
						Copyright@2023 All Rights Reserved
					
					{% endif %}	
					</div>
				</div>

				<div class="col-md-4">
					{% if page.footer_second %}
						{{ page. footer_second }}
					{% else %}	
					<div class="footer-logo">
						<div class="logo">
		          									<a href="{{ path('<front>') }}">
										<img src="{{ logopath }}">
									</a>
									
						</div>
					</div>
					{% endif %}
				</div>

				<div class="col-md-4">
					{% if page.footer_third %}
						{{ page. footer_third }}
					{% else %}	
					<div class="footer_social_icon">
		          		{% if twitter or facebook or instagram or pintrest %}
				            <ul>
				            {% if facebook %}
				            	<li><a href="{{ facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					        {% endif %}
				            {% if instagram %}
				              		<li><a href="{{ instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					        {% endif %}
				            {% if twitter %}
					            	<li><a href="{{ twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					        {% endif %}
				            {% if pintrest %}
				              		<li><a href="{{ pintrest }}"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					        {% endif %}
   					        </ul>
   					   {% endif %}         
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% if page.footer %}
			<div class="container">
				{{ page.footer }}
			</div>
		{% endif %}	
	</footer>
